// Variables
$primary: #efefef;
$secondary: #fcfcfc;
$tertiary: #52616e;
$primary-border: #ebf5fd;
$secondary-border: #63696e;
$tertiary-border: #63696e;
$dark: #e0e0e0;

//buttons
// basics
$btn-basic: #cfd6dc;
$btn-basic-hover: #797d81;
$btn-basic-border: #686b6d;
$btn-basic-border-hover: rgb(46, 48, 49);
// submit
$btn-submit: #cfd6dc;
$btn-submit-hover: #797d81;
$btn-submit-border: #686b6d;
$btn-submit-border-hover: #2e3031;
// danger
$btn-danger: #de3518;
$btn-danger-hover: #a32e19;
$btn-danger-border: #686b6d;
$btn-danger-border-hover: #2e3031;
// links
$btn-link: #cfd6dc;
$btn-link-hover: #797d81;
$btn-link-border: #686b6d;
$btn-link-border-hover: #2e3031;
// borderless
$btn-borderless: #cfd6dc;
$btn-borderless-hover: #797d81;
// circles
$btn-circle-hover: #a4a4a4;

//text-color
$text-general: #232121;
$text-general-hover: #e8e8e8;
$text-btn-basic: #171718;
$text-btn-basic-hover: #c9d3da;
$text-btn-submit: #171718;
$text-btn-submit-hover: #c9d3da;
$text-link-visited: #0f41af;
$text-danger: #de3518;
$text-light: #ffffff;

//separator-color
$separator-color: #63696e;

//icon-color
$icon-home: #171718;
$icon-home-hover: #8a8a8f;
$icon-basic: #8a8a8f;
$icon-warn: #f0b81f;
$icon-danger: #de3518;
$icon-succes: rgb(21, 209, 77);

//forms
$form-background: #efefef;
$form-label: #ff00c1;
$form-label: #ff00c1;
$form-label-hover: #830363;
$form-input: #ffffff;
$form-input-hover: #c2c2c2;
$form-border: #20cbac;
$form-border-hover: #115850;

//responsive
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

//glitchs
$glitch-text: #343434;
$glitch-text-shadow: #17bee7;
$glitch-text-copy: #98ff23;

//game colors assets
$game-card: #e5e5e5;
$game-card-eye: #cbcbcb;
$game-card-selected: #93c7d0;
$game-card-eye-selected: #93c7d0;
$game-card-eye-selected-border: #2dffed;

// loader
$loader-basic: #17464b;
