// Importer les variables de theme
@import "themes/basicTheme";

//Importer keyFrames
@import "animations/movements";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}

/* Mixin Responsive */
@mixin mobile {
  @media only screen and (max-width: #{$mobile}) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: #{$mobile + 1}) and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: #{$desktop}) {
    @content;
  }
}

// Importer les styles de chaque composant
@import "components/container";
@import "components/basic-menu";
@import "components/basic-menu-layer";
@import "components/button";
@import "components/modal";
@import "components/scrollbar";
@import "components/language-switch";

// Importer les animations
@import "animations/glitch";
