// Import des themes
@import "themes/basicTheme";

//Import des fonts
@import "fonts/fonts";

//Import keyFrames
@import "animations/movements";
@import "animations/loaders";
@import "animations/transitions";

.hidden {
  //  TO DO : keyword for basique style
  display: none;
}

html,  // reset du style
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Monitorica", sans-serif;
  width: 100%;
  height: 100%;
  min-width: 320px;

  & div#root {
    height: 100%;
    width: 100%;
  }

  & table {
    border-collapse: collapse;
  }

  & td,
  th {
    padding: 0;
    border: 1px solid #ccc;
  }
}

/* Mixin */
@mixin mobile {
  @media only screen and (max-width: #{$mobile}) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: #{$mobile + 1}) and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: #{$desktop}) {
    @content;
  }
}

// Importer les styles de chaque composant
@import "components/container";
@import "components/basic-menu";
@import "components/basic-menu-layer";
@import "components/button";
@import "components/modal";
@import "components/scrollbar";
@import "components/language-switch";
@import "components/form-item";
@import "components/input";
@import "components/section-content";
@import "components/game-zone";
@import "components/calibrate";
@import "components/loader-spin";
@import "components/countdown";
@import "components/footer";
@import "components/notifications";
@import "components/game-menu";
@import "components/combo-bar";
@import "components/select";
@import "components/datatable";

// Importer les animations
@import "animations/glitch";

//Import all pages
@import "pages/calibrate";
@import "pages/home";
@import "pages/game";
@import "pages/login";
@import "pages/register";
@import "pages/profile";
@import "pages/lobby";
@import "pages/game-zone";
@import "pages/ranking";
@import "pages/not-found";
