section.ninja.section-content.home {
  min-height: 80vh;
  height: auto;

  &.hive {
    position: relative;
    background-color: #fcfcfc;
    transition: ease-in-out 0.5s;
    overflow: hidden;
    background: center / cover no-repeat url("../../../src/style/assets/background/background_template_hexa_00.png");
    filter: drop-shadow(10px 10px 5px #44c6dd);
    animation: backgroundAppear 8s linear infinite;

    & > .wrapper > h1 {
      transition: ease-in-out 0.5s;
      font-size: 4rem;
      @include tablet {
        font-size: 2rem;
      }
      @include mobile {
        font-size: 1.5rem;
      }
    }
    & > .wrapper > p {
      transition: ease-in-out 0.5s;
      font-size: 2rem;
      @include tablet {
        font-size: 1rem;
      }
      @include mobile {
        font-size: 0.5rem;
      }
    }

    & > button {
      background-color: #fcfcfc;
      font-size: 1.2rem;
      @include tablet {
        font-size: 1rem;
      }
      @include mobile {
        font-size: 0.8rem;
      }
    }

    & > div.modal-default-background {
      position: fixed;
      top: 0;

      & > #ninja-modal-home {
        transition: ease-in-out 0.5s;
        width: 50%;
        font-size: 1rem;

        @include tablet {
          width: 80%;
          font-size: 0.8rem;
        }
        @include mobile {
          width: 90%;
          font-size: 0.5rem;
        }

        & > div.body {
          height: 20rem;
          overflow-y: scroll;
          & > article > h1 {
            color: $text-danger;
            font-size: 2rem;
            @include tablet {
              font-size: 2rem;
            }
            @include mobile {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
