section.ninja.section-content.ranking {
    background-color: #fcfcfc;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill-opacity='0.05' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    overflow-y: scroll;
    min-height: 100vh;
    position: relative;
    justify-content: flex-start;
    transition: ease-in-out 0.5s;

    & > div.ranking-list.header {
        transition: ease-in-out 0.5s;
        margin-top: 10rem;
        width: 40rem;
        position: sticky;
        top: 0;
        background-color: #fcfcfc;
        padding: 3rem 5rem;
        border-radius: 2rem;
        z-index: 1;
        box-shadow: 0px 8px 5px 0px #0000003f;
        & > h1 {
            font-family: "Maizen", sans-serif;
            font-size: 2rem;
            text-align: center;
        }
    }

    & > .datatable {
        background-color: #fcfcfc;
        padding: 5rem 1rem;
        border-radius: 0.8rem;

        & div.profile-picture-container {
            overflow: hidden;
            & > img {
                border-radius: 50%;
                height: 3.5rem;
                width: 3.5rem;
                border: none;
            }

            & > svg {
                border: none;
                height: 3rem;
                width: 3rem;
            }
        }

        & > .pagination-basic > .pagination-basic-numerotation {
            & > button.disabled {
                color: rgb(104, 104, 104);
                text-decoration: underline;
                cursor: default;
                &:hover {
                    color: $text-general;
                }
            }
        }
    }
    @include mobile {
        & > div.ranking-list.header {
            padding: 1rem;
            margin-top: 2rem;
            width: 90%;
            border-radius: 1rem;

            & > h1 {
                font-size: 1rem;
            }

            & > div#lobby-difficulty {
                margin: auto;
            }
        }

        & > .datatable {
            padding: 0;
            & > #pagination-ranking {
                width: 90%;
                align-items: flex-start;
                gap: 0.5rem;
                & > .btn-link {
                    font-size: 0.6rem;
                    & > svg {
                        width: 0.8rem;
                        height: 0.8rem;
                    }
                }
                & > .pagination-basic-numerotation {
                    flex-wrap: wrap;

                    & > button {
                        font-size: 0.6rem;
                    }
                }
            }
        }
    }
}
