.nav-header-basic {
  position: fixed;
  z-index: 9999;
  min-width: 300px;
  -webkit-box-shadow: 0px 9px 18px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 9px 18px 0px rgba(0, 0, 0, 0.11);
  background-color: $secondary;
  top: 0;
  left: 0;
  right: 0;

  & > .nav-basic {
    height: 2.5rem; // nav bar height settings
    display: flex;
    align-items: center;
    width: 100%;

    & > .nav-ul {
      display: flex;
      list-style: none;

      @include mobile {
        display: none;
      }

      & li {
        text-align: center;

        & > .nav-link {
          color: $text-btn-basic;
          background-color: $btn-basic;
          width: 100%;
          border-radius: 0.2em;
          border: 2px solid $btn-basic-border;
          padding: 0.3em 0.5em;
          text-decoration: none;

          &:hover {
            background: $btn-basic-hover;
            color: $text-btn-basic-hover;
            cursor: pointer;
          }

          &:active {
            background-color: $btn-basic-hover;
            color: $text-btn-basic-hover;
            border: 2px solid $btn-basic-border-hover;
          }
        }

        &:hover {
          transition: ease-in-out 0.5s;
          transform: scale(1.1, 1.2);
        }

        & > .nav-link:visited {
          color: inherit;
        }
      }
    }

    & > .nav-children {
      display: flex;

      @include mobile {
        display: none;
      }
    }

    @include mobile {
      justify-content: space-between;
    }
  }
}

.nav-home-link {
  color: $icon-home;
  transition: ease-in-out 0.5s;

  &:hover {
    color: $icon-home-hover;
  }
}

// mobile menu
.nav-basic-mobile {
  display: none;

  @include mobile {
    display: flex;
  }
}

.nav-ul-mobile {
  position: absolute;
  width: auto;
  z-index: 9999;
  right: 1rem;
  background: $secondary;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 28px -3px #000000;
  animation: appear 0.2s ease-in-out;
  padding: 0rem;

  & > button.btn-borderless.danger {
    margin: auto;
    cursor: pointer;
  }
}

.nav-header-mobile {
  list-style: none;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.5rem 0.5rem 0 0;

  & > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > h2 {
      margin: 0;
    }
  }

  & > img {
    border-radius: 50%;
    border: none;
    padding: 0.2rem;
    margin: 2rem 2rem 0;
  }
}

.nav-li-mobile {
  list-style: none;
  padding: 0.5rem 2rem;
  color: $text-general;
  transition: ease-in-out 0.1s;

  &:hover {
    background-color: $primary;
    color: $text-general-hover;
  }

  & a {
    text-decoration: none;

    & > svg {
      margin-right: 0.5rem;
    }

    &:visited {
      color: $text-general;
    }
  }
}

.user_svg__feather.user_svg__feather-user {
  fill: #b8b8b8;
  stroke: #b8b8b8;
  border: solid $tertiary 0.1rem;
  padding: 0.2rem;
  background-color: #8d8d8d;
  border-radius: 50%;
}

#user-profile-link {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.8rem;
  text-decoration: none;
  font-weight: 800;
  text-transform: uppercase;
  padding: 0.2rem;

  & > .user-profile-picture {
    height: 2rem;
    border: solid red 2px;
    overflow: hidden;
    border-radius: 50%;

    & > img,
    svg {
      width: auto;
      height: 100%;
    }
  }

  & > &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: $text-general;
  }

  @include mobile {
    display: none;
  }

  @include tablet {
    display: none;
  }
}

#nav-home-link-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-right: 0.2rem;
  text-decoration: none;
  transition: ease-in-out 0.4s;

  & > #title-home-link {
    font-family: "Maizen", sans-serif;
    transition: ease-in-out 0.4s;
    padding: 0.5rem 0.5rem;
    border: 0.15rem solid $secondary;
    border-radius: 0.2rem;
    border-style: outset;
    min-width: 100px;
    text-align: center;

    &:hover {
      border-color: $btn-link-border-hover;
    }

    @include tablet {
      font-size: 1rem;
    }
    @include mobile {
      font-size: 0.8rem;
    }
  }
}
