.ninja.basic-layer {
  background-color: $dark;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 5rem 0 0 0;
  flex-direction: column;

  & main {
    flex: 1;
    width: 100%;
  }

  & footer {
    flex-shrink: 0;
    width: 100%;
  }
}