.ninja.basic-layer {
  background-color: $dark;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-direction: column;
  width: auto;
  min-height: 100vh;

  & main {
    margin-top: 3rem;
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
  }

  & footer {
    flex-shrink: 0;
  }
}
