.btn-basic {
  background-color: $btn-basic;
  border: 2px solid $btn-basic-border;
  border-radius: 0.4em;
  padding: 0.5em 1em;
  color: $text-btn-basic;

  &:hover {
    transition: ease-in-out 0.5s;
    background: $btn-basic-hover;
    cursor: pointer;
    color: $text-btn-basic-hover;
  }

  &:active {
    color: $text-btn-basic-hover;
    border: 2px solid $btn-basic-border-hover;
    transition: none;
  }
}

.btn-menu {
  background: $secondary;
  padding: 0.5em 1em;
  color: $text-btn-basic;
  height: auto;
  border: none;

  & img {
    width: 1.5em;
    height: 1.5em;
  }

  &:hover {
    transition: ease-in-out 0.5s;
    background: $secondary;
    cursor: pointer;
    color: $text-btn-basic-hover;
  }

  &:active {
    color: $text-btn-basic-hover;
    transition: none;
  }
}

.btn-circle {
  background-color: transparent;
  padding: 0.2rem;
  border: none;
  border-radius: 50%;
  height: auto;

  &:hover {
    transition: ease-in-out 0.2s;
    background-color: $btn-circle-hover;
  }
}

.btn-borderless {
  background-color: transparent;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  height: auto;

  &:hover {
    color: $btn-borderless-hover;
    transition: ease-in-out 0.2s;
    background-color: $btn-circle-hover;
  }

  &.danger {
    background-color: $btn-danger;
    color: $text-general-hover;

    &:hover {
      background-color: $btn-danger-hover;
    }
  }
}

.btn-submit {
  background-color: $btn-submit;
  padding: 0.5rem 1rem;
  border: solid 0.2rem $btn-submit-border;
  border-radius: 0.3rem;
  height: auto;
  color: $text-btn-submit;

  &:hover {
    cursor: pointer;
    color: $text-btn-submit-hover;
    transition: ease-in-out 0.3s;
    border-color: $btn-submit-border-hover;
    background-color: $btn-submit-hover;
  }
}