.btn-basic {
  background-color: $btn-basic;
  border: 2px solid $btn-basic-border;
  border-radius: 0.4em;
  padding: 0.5em 1em;
  color: $text-btn-basic;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &:hover {
    transition: ease-out 0.2s;
    background: $btn-basic-hover;
    cursor: pointer;
    color: $text-btn-basic-hover;
  }

  &:active {
    color: $text-btn-basic-hover;
    border: 2px solid $btn-basic-border-hover;
    transition: none;
  }

  &:disabled {
    background-color: transparentize($color: $btn-basic, $amount: 0.5);
    color: transparentize($color: $text-btn-basic, $amount: 0.5);
    border-color: transparentize($color: $btn-basic-border, $amount: 0.5);

    &:hover {
      cursor: not-allowed;
    }
  }
}

.btn-menu {
  background: $secondary;
  padding: 0.5em 1em;
  color: $text-btn-basic;
  height: auto;
  border: none;

  & img {
    width: 1.5em;
    height: 1.5em;
  }

  &:hover {
    transition: ease-in-out 0.5s;
    background: $secondary;
    cursor: pointer;
    color: $text-btn-basic-hover;
  }

  &:active {
    color: $text-btn-basic-hover;
    transition: none;
  }
}

.btn-circle {
  background-color: transparent;
  font-size: 1rem;
  padding: 0.2rem;
  border: none;
  border-radius: 50%;
  height: auto;

  &:hover {
    transition: ease-in-out 0.2s;
    background-color: $btn-circle-hover;
  }
}

.btn-borderless {
  background-color: transparent;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  height: auto;

  &:hover {
    color: $btn-borderless-hover;
    transition: ease-in-out 0.2s;
    background-color: $btn-circle-hover;
  }

  &.danger {
    background-color: $btn-danger;
    color: $text-general-hover;

    &:hover {
      background-color: $btn-danger-hover;
    }
  }
}

.btn-submit {
  background-color: $btn-submit;
  padding: 0.5rem 1rem;
  border: solid 0.2rem $btn-submit-border;
  border-radius: 0.3rem;
  height: auto;
  color: $text-btn-submit;

  &:hover {
    cursor: pointer;
    color: $text-btn-submit-hover;
    transition: ease-in-out 0.3s;
    border-color: $btn-submit-border-hover;
    background-color: $btn-submit-hover;
  }
}

.btn-link-game {
  z-index: 3;
  background-color: transparent;
  color: $btn-link-border-hover;
  border-color: #fcfcfc;
  font-size: 1.5rem;
  font-weight: 800;
  padding: 0.5rem 1rem;
  font-family: "Monitorica", sans-serif;
  border-radius: 0.5rem;
  position: relative;
  transition: ease-in-out 0.4s;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &:hover {
    border-color: $btn-link-border-hover;
    color: $btn-link-hover;
    transform: scale(1.1);
    cursor: pointer;
  }

  &:disabled {
    border-color: #fcfcfc;
    animation: none;
    opacity: 0.8;
    cursor: default;

    &:hover {
      transform: none;
    }
  }
}

.btn-loader-spin {
  transition: ease-in-out 0.4s;
  animation: spin 2s linear infinite;
}

.btn-link {
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 0.4em;
  padding: 0.5em 1em;
  color: $text-btn-basic;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  & > svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  &:hover {
    transition: ease-out 0.2s;
    cursor: pointer;
    color: $text-btn-basic-hover;
    text-decoration: underline;
  }

  &:disabled {
    color: transparentize($color: $text-btn-basic, $amount: 0.5);

    &:hover {
      text-decoration: none;
      cursor: not-allowed;
    }
  }
}
