.grid-game-calibrate {
    & > .grid-card-calibrate {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        & > .btn-calibrate-point {
            border: none;
            background-color: transparent;
        }
    }
}
