.grid-game-zone {
    & > .grid-card-zone {
        background: center / cover no-repeat url("../../../src/style/assets/background/background_template_hexa_00.png");
        filter: drop-shadow(10px 10px 5px #0e5a66c0);
        border: solid transparent 0.1rem;
        border-radius: 2rem;
        background-color: #fcfcfc28;

        &#card-zone-1 {
            transform: scale(1, 1);

            &.selected-eye {
                transition: ease-in-out 0.2s;
                transform: scale(1.1, 1.1);
            }

            &.eye {
                transform: scale(1.1, 1.1);
            }
        }

        &#card-zone-2 {
            transform: scale(-1, 1);

            &.selected-eye {
                transition: ease-in-out 0.2s;
                transform: scale(-1.1, 1.1);
            }

            &.eye {
                transform: scale(-1.1, 1.1);
            }
        }

        &#card-zone-3 {
            transform: scale(1, -1);

            &.selected-eye {
                transition: ease-in-out 0.2s;
                transform: scale(1.1, -1.1);
            }

            &.eye {
                transform: scale(1.1, -1.1);
            }
        }

        &#card-zone-4 {
            transform: scale(-1, -1);

            &.selected-eye {
                transition: ease-in-out 0.2s;
                transform: scale(-1.1, -1.1);
            }

            &.eye {
                transform: scale(-1.1, -1.1);
            }
        }

        &.selected {
            transition: ease-in-out 0.2s;
            filter: drop-shadow(10px 10px 5px #cf0e58);
        }

        &.selected-eye {
            filter: drop-shadow(10px 10px 5px #44c6dd);
            z-index: 2;
            transition: ease-in-out 0.2s;
            border-bottom: solid #44c6dd 0.2rem;
            border-right: solid #44c6dd 0.2rem;
        }

        &.eye {
            z-index: 2;
            transition: ease-in-out 0.2s;
            border-bottom: solid #0e5a66c0 0.2rem;
            border-right: solid #0e5a66c0 0.2rem;
        }
    }
}
