/* Import de la police */
@font-face {
  font-family: "Monitorica";
  src: url("/src/style/fonts/monitorica.ttf");
}
@font-face {
  font-family: "Maizen";
  src: url("/src/style/fonts/super-maizen.ttf");
}
